@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f9fc;
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  text-align: center;
  transition: transform 0.3s;
  border: 1px solid #e1e4e8;
}

.container:hover {
  transform: translateY(-5px);
}

h1 {
  font-size: 2rem;
  color: #3e4c6d;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

label {
  font-size: 1rem;
  color: #495057;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}

input,
select {
  border: 2px solid #ced4da;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  transition: border 0.3s;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  .container {
    padding: 20px;
  }
}

.result {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.result span {
  display: inline-block;
  font-size: 1.2rem;
  color: #007bff;
  font-weight: normal;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgba(0, 123, 255, 0.1);
}

.footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  color: #6c757d;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center; /* محاذاة النص إلى المنتصف */
  transition: background-color 0.3s, box-shadow 0.3s; /* إضافة تأثيرات انتقالية */
}

.footer a {
  color: #007bff; /* لون الرابط */
  text-decoration: none; /* إزالة الخط تحت الرابط */
  font-weight: bold; /* جعل النص غامق */
}

.footer a:hover {
  text-decoration: underline; /* إضافة خط تحت الرابط عند المرور عليه */
}

/* تأثير عند تمرير الماوس على الفوتر */
.footer:hover {
  background-color: #f1f1f1; /* تغيير لون الخلفية عند المرور */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* إضافة ظل أعمق عند المرور */
}
